In [12]:
import pandas as pd
from pathlib import Path

directory_out = Path.cwd()/ "data"/ "out" / "out.csv"
data = pd.read_csv(directory_out, comment="#", delimiter=";")

data.sort_values(by="Sum_level", ascending=False)

          Pattern  Sum_level  Count_level
189535          0     141236           10
189611  134217727     139780           10
188668  133955584     107477           10
13375   134217216     101065           10
188608     262143     100861           10
...           ...        ...          ...
349082      23576        448            1
300221  113376256        448            1
349067    7334917        448            1
293504   57115584        447            1
349061   80637439        447            1

[484907 rows x 3 columns]

In [10]:
print(data.columns)

Index(['Pattern;Sum_level;Count_level'], dtype='object')