In [13]:
import pandas as pd
from pathlib import Path

directory_out = Path.cwd()/ "data"/ "out" / "out.csv"
data = pd.read_csv(directory_out, comment="#", delimiter=";")

data.sort_values(by="Sum_level", ascending=False)

          Pattern  Sum_level  Count_level
189746  134217727     138587           10
189720          0     135284           10
189207        511     109665           10
45217   134217216     101361           10
188084  133955584     101233           10
...           ...        ...          ...
348886   24227024        446            1
348889  125273663        446            1
348891  117421016        446            1
348916   81755452        446            1
348913   19679391        446            1

[485143 rows x 3 columns]

In [10]:
print(data.columns)

Index(['Pattern;Sum_level;Count_level'], dtype='object')